<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @classroom.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @classroom.address %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
