<% if classes.count > 0 %>
  <h2><%= month %></h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>日期</th>
        <th>上課時間</th>
        <th>已報名</th>
        <th>名額</th>
        <th>教室</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% classes.each do |myclass| %>
        <tr>
          <% if !myclass.is_expired && myclass.is_opened_for_signup %>
            <td><%= check_box_tag("class_ids[]", myclass.id)%></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= myclass.title %></td>
          <td><%= myclass.date_string %></td>
          <td><%= myclass.time_string %></td>
          <td><%= myclass.attendances.count %></td>
          <td><%= myclass.limit %></td>
          <td><%= myclass.classroom.title %></td>
          <% if myclass.is_expired %>
            <td><%= link_to "看上課內容", myclass_path(myclass) %></td>
            <td><%= link_to "跟喬巴說你多累", score_myclass_path(myclass) %></td>
          <% elsif !myclass.is_opened_for_signup %>
            <td colspan="2"><%= "%{s} 之後開放報名" % { s: myclass.signup_date_string }%></td>
          <% else %>
            <td><%= link_to '報名/取消', signup_myclass_path(myclass) %></td>
            <td><a href="#" data-toggle="tooltip" data-html="true" title="<%= render 'students', :myclass => myclass %>">看有誰上課</a></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>