<%= form_for(@myclass) do |f| %>
  <% if @myclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myclass.errors.count, "error") %> prohibited this myclass from being saved:</h2>

      <ul>
      <% @myclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :s_time %><br>
    <%= f.time_select :s_time %>
  </div>
  <div class="field">
    <%= f.label :e_time %><br>
    <%= f.time_select :e_time %>
  </div>
  <div class="field">
    <%= f.label :limit %><br>
    <%= f.text_field :limit %>
  </div>
  <div class="field">
    <%= f.label :classroom_id %><br>
    <%= f.text_field :classroom_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
