<h2><%= @start_date.strftime('%m/%d') + " ~ " + @end_date.strftime('%m/%d') + "的課程" %></h2>
<table class='table'>
	<thead>
		<tr>
			<th>Title</th>
			<th>日期</th>
			<th>時間</th>
			<th colspan="3"></th>
		</tr>
	<thead>
	<tbody>
		<% @myclasses.each do |myclass| %>
			<tr>
				<td><%= myclass.title %></td>
				<td><%= myclass.date_string %></td>
				<td><%= myclass.time_string %></td>
				<td><%= link_to "看內容", myclass_path(myclass) %></td>
				<td><%= link_to "跟喬巴說你多累", score_myclass_path(myclass) %></td>
				<td><a href="#" data-toggle="tooltip" data-html="true" title="<%= render 'students', :myclass => myclass %>">看有誰上課</a></td>
			</tr>
		<% end %>
	</tbody>
</table>
