<%= form_tag ({controller: "attendances", action: "score"}) do %>
    <div class="form-group">
      <%= label_tag "名字" %>
      <%= select_tag :student_id, options_from_collection_for_select(@myclass.students, "id", "name"), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag "疲勞程度(1~10)" %>
      <%= text_field_tag :score, "", :class => 'form-control' %>
    </div>
    <%= hidden_field_tag :myclass_id, @myclass.id %>
    <%= submit_tag "送出", :class => 'btn btn-default' %>
<% end %>
