<div class='my-tooltip'>
	<% count = 1 %>
	<% myclass.attendances.order("created_at asc").each do |attendance| %>
		<%= "%{i}. %{n}" % {i: count, n: attendance.student.name} %><br>
		<% count = count + 1 %>
	<% end %>
</div>