<div class="row">
	<div class="col-md-12">
	<h1>以前的課程</h1>
		<%= form_tag({controller: "myclasses", action: "showbetween"}, method: "get", class: 'form-inline', remote: true) do %>
			<% now = Time.zone.now %>
			<div class="form-group">
		        <%= label_tag "開始日期" %>
		        <%= date_field_tag :start_date,  @start_date.strftime('%Y-%m-%d'), class: 'form-control' %>
		    </div>
		    <div class="form-group">
		        <%= label_tag "結束日期" %>
		        <%= date_field_tag :end_date, @end_date.strftime('%Y-%m-%d'), class: 'form-control' %>
		    </div>
		    <div class="form-group">
		    	<%= submit_tag "查詢", class: 'btn btn-default' %>
		    </div>
		<% end %>
	</div>
</div>
