<h1>請選擇你想登記的課程</h1>

<%= form_tag({controller: "myclasses", action: "multi_signup"}, method: "get") do %>
  <!-- <input type="submit" value="登記選取的課程" class="btn btn-default"/> -->
  <%= render "class_table", :classes => @this_month_classes, :month => @this_month %>
  <%= render "class_table", :classes => @next_month_classes, :month => @next_month %>
  <%= render "class_table", :classes => @nnext_month_classes, :month => @nnext_month %>
  <%= submit_tag "登記選取的課程", class: "btn btn-default" %>
<% end %>
<br>
