<h2>您選取的課程</h2>
<div class="row">
  <div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>日期</th>
        <th>上課時間</th>
        <th>已報名</th>
        <th>名額</th>
        <th>教室</th>
      </tr>
    </thead>

    <tbody>
      <% @selected_classes.each do |myclass| %>
        <tr>
          <td><%= myclass.title %></td>
          <td><%= myclass.s_time.strftime("%Y/%m/%d   %a.") %></td>
          <td><%= myclass.s_time.strftime("%H:%M") + " ~ " + myclass.e_time.strftime("%H:%M") %></td>
          <td><%= myclass.attendances.count %></td>
          <td><%= myclass.limit %></td>
          <td><%= myclass.classroom.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="col-md-6">
    <%= form_tag({controller: 'attendances', action: 'multi_signup'}) do %>
      <div class="form-group">
        <%= label_tag "名字" %>
        <%= text_field_tag 'attendance[student]', '', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "刪除密碼" %>
        <%= password_field_tag 'attendance[password]', '', class: 'form-control' %>
      </div>

      <div class="well well-sm">
        刪除密碼的用途是，如果你後來無法來上這一堂課，要取消的時候，需要這個密碼才能把你從課程裡刪除。
        主要是避免別人不小心把你刪掉
      </div>
      <%= hidden_field_tag 'attendance[myclass_ids]', @ids %>
      <%= submit_tag "確認", class: 'btn btn-default' %>
    </div>

  <% end %>
</div>
