<div class="page-header">
  <h1><%= @myclass.title %></h1>
  <p>
    <strong>時間:</strong>
    <%= @myclass.date_string + " " + @myclass.time_string %>
  </p>
  <p>
    <strong>地點:</strong>
    <%= @myclass.classroom.title %>
  </p>

</div>
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">課程內容</h3>
        </div>
        <div class="panel-body">
          <%= @myclass.content.html_safe %>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
          <%= render "score_form" %>
        </div>
      </div>
  </div>
</div>
