<div class="page-header">
  <h1><%= @myclass.title %></h1>

  <p>
    <strong>時間:</strong>
    <%= @myclass.date_string + " " + @myclass.time_string %>
  </p>

  <p>
    <strong>名額:</strong>
    <%= @myclass.limit %>
  </p>

  <p>
    <strong>地點:</strong>
    <%= @myclass.classroom.title %>
  </p>

  <p>
    <strong>地址:</strong>
    <%= @myclass.classroom.address %>
  </p>

</div>
<div class="row">
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">課程內容</h3>
        </div>
        <div class="panel-body">
          <%= @myclass.content.html_safe %>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">學生</h3>
        </div>
        <div class="panel-body">
          <table class='table'>
            <thead>
              <tr>
                <th>#</th>
                <th>姓名</th>
                <th>疲勞程度</th>
              </tr>
            </thead>
            <tbody>
              <% count = 0 %>
              <% @myclass.attendances.order('created_at asc').each do |attendances| %>
                <% count = count + 1 %>
                <tr>
                  <td><%= count %></td>
                  <td><%= attendances.student.name %></td>
                  <td><%= attendances.score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
