<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="page-header">
  <h1><%= @myclass.title %></h1>

  <p>
    <strong>時間:</strong>
    <%= @date + " " + @myclass.time_string %>
  </p>

  <p>
    <strong>名額:</strong>
    <%= @myclass.limit %>
  </p>

  <p>
    <strong>地點:</strong>
    <%= @myclass.classroom.title %>
  </p>

  <p>
    <strong>地址:</strong>
    <%= @myclass.classroom.address %>
  </p>
</div>


<% if @myclass.is_opened_for_signup %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>已報名</h2>
        <% if @safe.count == 0 %>
          <p>尚未有人報名</p>
        <% else %>
          <ol>
            <% @safe.each do |student|%>
              <li><%= student.name %></li>
            <% end %>
          </ol>
        <% end %>

      </div>
      <div class="col-md-6">
        <h2>候補</h2>
        <% if @back.count == 0 %>
          <p>沒有候補</p>
        <% else %>
          <ol>
            <% @back.each do |student|%>
              <li><%= student.name %></li>
            <% end %>
          </ol>
        <% end %>
     </div>
   </div>
   <div class="row">
      <div class="col-md-6">
        <h2>登記</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'attendances/signup' %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>取消</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'attendances/delete' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>這堂課還沒開放報名</h2>
      </div>
  </div>
<% end %>
