<%= form_for @attend, :method => 'delete' do |f| %>
  <% if @attend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attend.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
      <% @attend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label "名字" %>
      <%= f.select :student, @myclass.students.collect {|student| [student.name, student.name]}, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "刪除密碼" %>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>

    <div class="well well-sm">
      如果忘記刪除密碼了，請通知喬巴或阿瑋
    </div>

    <%= f.hidden_field :myclass_id, :value => @myclass.id %>
    <%= f.submit "確認取消", :class => 'btn btn-default' %>

<% end %>
