<%= form_for(@attend) do |f| %>
  <% if @attend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attend.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
      <% @attend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label "名字" %>
      <%= f.text_field :student, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "刪除密碼" %>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
    <div class="well well-sm">
      刪除密碼的用途是，如果你後來無法來上這一堂課，要取消的時候，需要這個密碼才能把你從課程裡刪除。
      主要是避免別人不小心把你刪掉
    </div>

    <%= f.hidden_field :myclass_id, :value => @myclass.id %>
    <%= f.submit "登記", :class => 'btn btn-default' %>
<% end %>
