<h1>Oops... 發生了一些錯誤 <small><%= link_to "回首頁", root_path %></small> </h1>
<div id="error_explanation">
  <h2><%= pluralize(@errors.length, "error") %></h2>
	<% @errors.each do |error| %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
     <% end %>
</div>
