<h1>登記成功!</h1>
<h2><%= @student.name %>, 您已經登記了以下的課程 <small><%= link_to "回首頁", root_path %></small> </h2>

<div class='row'>
	<table class="table">
	  <thead>
	    <tr>
	      <th>課程</th>
	      <th>日期</th>
	      <th>上課時間</th>
	      <th>已報名</th>
	      <th>名額</th>
	      <th>教室</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @classes.each do |myclass| %>
	      <tr>
	        <td><%= myclass.title %></td>
	        <td><%= myclass.s_time.strftime("%Y/%m/%d   %a.") %></td>
	        <td><%= myclass.s_time.strftime("%H:%M") + " ~ " + myclass.e_time.strftime("%H:%M") %></td>
	        <td><%= myclass.attendances.count %></td>
	        <td><%= myclass.limit %></td>
	        <td><%= myclass.classroom.title %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>